.btn {
  text-transform: uppercase;
  padding: 2rem 8rem;
  display: inline-block;
  border-radius: 10rem;

  background-color: $color-primary-dark;
  color: $color-quinary;

  cursor: pointer;

  @include respond(phone) {
    padding: 1.5rem 5rem;
  }

  &:hover{
    background-color: $color-primary;
    color: rgba($color-quinary, .8);
  }

}

.btn-reset{
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  display: inline-block;
  border-radius: 10rem;

  background-color: $color-primary-dark;
  color: $color-quinary;

  cursor: pointer;

  @include respond(phone) {
    padding: 1.5rem 5rem;
  }

  &:hover{
    background-color: $color-primary;
    color: rgba($color-quinary, .8);
  }
}

.btn-text {
  font-size: 3rem;
  font-family: 'Courgette', cursive;
}