//COLOR

$color-primary: #EDC7B7;
$color-primary-dark: #EBBEAB; 
$color-secondary: #EEE2DC;
$color-tertiary: #BAB2B5;
$color-quaternary: #123C69;
$color-quinary: #AC3B61;

$color-black: #000000;
$color-white: #FFFFFF;